* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
	padding: 30px;
}
.site-header {
	
}
.large-hero {
	position: relative;
	height: 95vh;
	background-image: linear-gradient(to right bottom, rgba(126,213,97, .8), rgba(40,180,133, .8)), url(../../assets/images/hero.jpg);
	background-size: cover;
	background-position: top;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95%);
	        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95%);

}
.large-hero__logo {
		position: absolute;
		top: 40px;
		left: 40px;
	}
.large-hero__logo img{
			height: 35px;
			display: block;
		}
.large-hero__title {
		color: #fff; 
		font-weight: 400;
		text-transform: uppercase;
		font-size: 60px;
		letter-spacing: 35px;
		margin-right: -35px;

	}
.large-hero__sub {
		color: #fff;
		font-weight: 700;
		font-size: 20px;
		letter-spacing: 17.5px;
		margin-right: -17.5px;
		text-transform: uppercase;


	}
.large-hero__content {

		position: absolute;
		top: 40%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
		text-align: center;
		
	}