/*GRID*/
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	font-size: 62.5%;
}
body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	/*font-size: 16px;*/
	line-height: 1.7;
	color: #777;
	padding: 30px;
	box-sizing: border-box;
}
@-webkit-keyframes moveFromLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-10rem);
		        transform: translateX(-10rem);
	}
	
	80% {
		-webkit-transform: translateX(1rem);
		        transform: translateX(1rem);
	
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0);
		        transform: translate(0);
	}

}
@keyframes moveFromLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-10rem);
		        transform: translateX(-10rem);
	}
	
	80% {
		-webkit-transform: translateX(1rem);
		        transform: translateX(1rem);
	
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0);
		        transform: translate(0);
	}

}
@-webkit-keyframes moveFromRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(10rem);
		        transform: translateX(10rem);
	}
	
	80% {
		-webkit-transform: translateX(-1rem);
		        transform: translateX(-1rem);
	
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0);
		        transform: translate(0);
	}

}
@keyframes moveFromRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(10rem);
		        transform: translateX(10rem);
	}
	
	80% {
		-webkit-transform: translateX(-1rem);
		        transform: translateX(-1rem);
	
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0);
		        transform: translate(0);
	}

}
@-webkit-keyframes moveFromBottom {
	0% {
		opacity: 0;
		-webkit-transform: translateY(3rem);
		        transform: translateY(3rem);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translate(0);
		        transform: translate(0);
	}

}
@keyframes moveFromBottom {
	0% {
		opacity: 0;
		-webkit-transform: translateY(3rem);
		        transform: translateY(3rem);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translate(0);
		        transform: translate(0);
	}

}
.large-hero {
	position: relative;
	height: 95vh;
	background-image: linear-gradient(to right bottom, rgba(126,213,97, .8), rgba(40,180,133, .8)), url(../../assets/images/hero.jpg);
	background-size: cover;
	background-position: top;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95%);
	        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95%);
	
}
.large-hero__logo {
		position: absolute;
		top: 4rem;
		left: 4rem;
	}
.large-hero__logo img {
			height: 3.5rem;
			display: block;
		}
.large-hero__content {
		position: absolute;
		top: 40%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
		text-align: center;
		padding: .5rem;
	}
.large-hero__title {
		color: #fff; 
		font-weight: 400;
		text-transform: uppercase;
		font-size: 6rem;
		letter-spacing: 3.5rem;
		margin-right: -3.5rem;
		padding-bottom: 0;
		-webkit-animation: moveFromLeft 1s ease-out;
		        animation: moveFromLeft 1s ease-out;
		/*animation-name: moveFromLeft;
		animation-duration: 1s;
		animation-timing-function: ease-out;
		animation-delay: 3s;
		animation-iteration-count: 2;*/
	}
.large-hero__sub {
		color: #fff;
		font-weight: 700;
		font-size: 2rem;
		letter-spacing: 1.75rem;
		margin-right: -1.75rem;
		text-transform: uppercase;
		/*animation-name: moveFromRight;
		animation-duration: 1s;
		animation-timing-function: ease-out;*/
		-webkit-animation: moveFromRight 1s ease-out;
		        animation: moveFromRight 1s ease-out;
	}
.large-hero__btn-container {
		margin-top: 6rem;
	}
.btn {
		text-transform: uppercase;
		text-decoration: none;
		background-color: #fff;
		color: #777;
		padding: 1.5rem 4rem;
		display: inline-block;
		border-radius: 10rem;
		transition: all .2s;
		position: relative;
		font-size: 1.6rem;
}
.btn:hover {
		-webkit-transform: translateY(-3px);
		        transform: translateY(-3px);
		box-shadow: 0 10px 20px rgba(0,0,0,.2);
	}
.btn:active {
		-webkit-transform: translateY(-1px);
		        transform: translateY(-1px);
		box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
	}
.btn--ghost-effect .btn {}
.btn--ghost-effect::after {
		content:"";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all .4s;
		background-color: #fff;
		}
.btn--ghost-effect:hover::after {
		-webkit-transform: scale(1.5);
		        transform: scale(1.5);
		opacity: 0;
		}
.btn--from-bottom {
		-webkit-animation: moveFromBottom 1s ease-out .75s;
		        animation: moveFromBottom 1s ease-out .75s;
		-webkit-animation-fill-mode: backwards;
		        animation-fill-mode: backwards;
	}
.row::after {
		content:"";
		clear: both;
		display: table;
	}
.row:not(:last-child) {
		margin-bottom: 8rem;
	}
/* -------------------------------
	Atribute Selector [] - '^=': somente quem começa com; '*=':Contem; 
	'&=': Somente quem termina com; 
	---------------------------------*/
.row [class ^= "row__"] {
		float: left;
		background-color: red;
	}
.row [class ^= "row__"]:not(:last-child) {
				margin-right: 6rem;
			}
@media (min-width: 1010px) {
		.row__lg-6 { 
			width: calc((100% - 6rem) / 2);
		}

		.row__lg-4 {
			width: calc((100% - 2*6rem) / 3);
		}

		.row__lg-8 { /*Será 2x a coluna de 4 + o gutter*/
			width: calc(2 * ((100% - 2*6rem) / 3) + 6rem);
		}
	}
.wrapper {
	max-width: 114rem;
	margin-right: auto;
	margin-left: auto;
}