.row {
	@mixin clearFix;

	&:not(:last-child) {
		margin-bottom: $gutterY;
	}
	
	/* -------------------------------
	Atribute Selector [] - '^=': somente quem começa com; '*=':Contem; 
	'&=': Somente quem termina com; 
	---------------------------------*/
	
	[class ^= "row__"] {
		float: left;
		/*background-color: red;*/

		&:not(:last-child) {
				margin-right: $gutterX;
			}
	}

	@mixin lg {
		&__lg-6 { 
			width: calc((100% - $gutterX) / 2);
		}

		&__lg-4 {
			width: calc((100% - 3*$gutterX) / 4);
		}

		&__lg-8 { /*Será 2x a coluna de 4 + o gutter*/
			width: calc(2 * ((100% - 3*$gutterX) / 4) + $gutterX);
		}

		&__lg-3 {
			width: calc((100% - 2*$gutterX) / 3);
		}


	}
}